body {
    margin-top: 0;
    padding: 0;
}

#header {
    margin: 10px 10px;
}

#score_panel {
    width: 80%;
    margin: 20px auto 20px auto;
}

#score_table {
    width: 100%;
}

#score_table td{
    vertical-align: middle;
}

#score_table td img{
    width: 32px;
    height: 32px;
}